@import url(reset.css);

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat.ttf);
}
* {
    box-sizing: border-box;
    border: 1px solid white;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
html, body {
    overflow-x: hidden;
    font-size: 1rem;
    font-family: Montserrat;
}
body {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.header {
    display: flex;
    padding: 50px 143px 869px 160px;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
header {
    position: relative;
}
.header__nav {
    color: #fff;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.header__nav__address, .header__nav__number {
    font-size: 1rem;
}
.header__nav img {
    width: 24px;
    height: 24px;
    display: inline;
    font-weight: 700;
}
.dot {
    font-size: 2rem;
    top: -2px;
    position: relative;
}
.header__nav__top {
    display: flex;
    align-items: center;
    margin-top: -3px;
    column-gap: 5px;
}
.header_nav_language {
    margin-right: 10px;
}
.header__nav__bottom {
    font-size: 1rem;
    display: flex;
    column-gap: 20px;
    width: 100%;
    justify-content: flex-end;
}
.banner__image {
    width: 872.34px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: calc(50% - 856.34px/2 + 0.17px);
}
.banner__text {
    position: absolute;
    color: aliceblue;
    font-size: 2.375rem;
    left: calc(50% - 533px/2);
    top: 482px;
    z-index: 2;
    font-weight: 700;
    letter-spacing: 1px;
}
.slide__image {
    position: absolute;
    bottom: 9px;
    left: calc(50% - 4px);
}